.profile-header{
    display: flex;
    flex-direction: column;
}
.profile-main-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 220, 220);
}

.header-cover{
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(to top right ,rgba(202, 20, 199, 0.796),rgba(1, 178, 178, 0.425));
    margin-bottom: 2rem;
}


.avatar-container{
    position: relative;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-photo-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
    position: relative;
    top: -7rem;
}
.profile-avatar{
    display: flex;
    gap: 2rem;
    align-items: center;
    
}

.profile-avatar p{
    font-size: 1.5rem;
    font-weight: 500;
}

.profile-avatar img{
    width: 13rem;
    border: 1px solid black;
    padding: 2rem;
    background: white;
}

.followers-wrapper{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    text-align: center;
    width: 13rem;
    padding: 1rem;
}

.followers-wrapper p{
    font-size: 0.7rem;
}
.followers{
}

.activity-container{
    position: relative;
    width: 80%;
    margin: auto;
    position: relative;
    top: 1rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 50rem;
    padding: 2rem;
}

.filters-wrapper{
    width: 20%;
    position:sticky;
    top: 0;
   
}

.filters-wrapper ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profile-ad-container{
    width: 20%;
    top: 0;
    position: sticky;
    border: 1px solid black;
}
.all-activity-wrapper{
    width: 60%;
    /* margin: auto; */
}